.box-2 {
    border: 1px solid rgb(225, 233, 233);
    box-shadow: 0 1px 3px rgb(226, 223, 223);
    width: 340px;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
}

.box-2 p {
    margin: -14px 0px 0px 15px;
    color: grey;
}

.box-2 div {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.box-2 div span {
    color: rgb(65, 64, 64);
    font-size: 1.2rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-2 i {
    font-size: 13px;
    margin-top: 20px;
}