.sec-5 {
    display: flex;
    justify-content: center;
    margin: 90px 0;
    padding: 40px 0;
    background-color: rgb(255, 248, 248);
}

.flex {
    display: flex;
}

.contact {
    width: 760px;
    overflow: hidden;
}

.contact img {
    width: 375px;
    height: 300px;
    padding-right: 40px;
}

.address {
    width: 470px;
    margin-top: 20px;
    padding-left: 10px;
}

.address p {
    padding-bottom: 10px;
    font-size: 0.95rem;
    color: rgb(92, 91, 91);
}

.address h2 {
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
}

.radio {
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
    padding-bottom: 20px;
}

.radio label {
    font-size: 1.1rem;
    color: rgb(49, 49, 49);
}

.radio [type="radio"] {
    accent-color: rgb(255, 92, 92);
}

.email {
    position: relative;
}

.email input {
    height: 46px;
    border-radius: 5px;
    width: 270px;
    border: 1px solid rgb(184, 183, 183);
    outline: rgb(255, 92, 92);
    font-size: 1.3rem;
    padding-left: 15px;
}

.place {
    position: absolute;
    font-size: 1.3rem;
    left: 15px;
    top: 13px;
    color: grey;
    font-weight: lighter;
}

.email button {
    width: 150px;
    border-radius: 6px;
    border: 1px solid rgb(253, 104, 104);
    background-color: rgb(253, 104, 104);
    font-size: 1.1rem;
    margin-left: 6px;
    color: white;
}

.download {
    font-size: 0.7rem;
    margin-top: 27px;
    margin-bottom: 0;
    color: grey;
}

.app img {
    width: 180px;
    height: 45px;
    cursor: pointer;
}